* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .Employee_main {
    border: 1px solid rgb(173, 173, 173);
} */

.upper_text {
    font-size: 24px;
    font-weight: bold;
}

.__main_Container {
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5vh;
    padding: 1em 0;
}

.container1, .container2, .container3 {
    /* border: 1px solid; */
    height: 72vh;
    min-width: 20em;
    flex-grow: 1;
}

.container1 {
    border: 1px solid rgb(194, 192, 192);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.__uploadPhoto{
    width: 12em;
    height: 12em;
    /* border: 1px solid; */
    border-radius: 50%;
    cursor: pointer;
}

.detail {
    text-align: center;
}

.txt {
    color: gray;
}

/*----------------------------container2----------------*/
.container2,
.container3 {
    /* border: 1px solid green; */
    padding-left: 10px;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
}

label {
    font-size: 15px;
    font-weight: 600;
}

.input {
    outline: none;
    font-size: 16px;
    padding: 8px;
    width: 95%;
    line-height: 1.6;
    border-radius: 8px;
    border: 1px solid rgb(180, 180, 180);
    height: 8vh;
}

.gender {
    font-size: 18px;
    padding: 8px;
    height: 8vh;
    color: gray;
    border-radius: 8px;
    width: 95%;
    border-color: rgb(194, 193, 193);
}

.__addButton {
    background: linear-gradient(90deg, #0050D1 0%, #00296B 100%);
    color: white;
    font-size: 18px;
    padding: 13px;
    width: 24vw;
    margin: 2em 0;
    border: none;
    outline: none;
    border-radius: 8px;
}